@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  touch-action: pan-x pan-y;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f8fafc;
}

/* Impedisce alle immagini di rompere il layout */
img {
  max-width: 100%;
  display: block;
}
